*{
    margin: 0;
    padding: 0;
}
body{
    
}
.header{
    width: 100%;
    box-sizing: border-box;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 100;
    font-style: normal;

}
.menu__logo{	
color:#05a88d;
font-size:50px;
text-decoration: none;
}

.menu__login{

	border: 0;
	background-color: #FFFFFF;
	font-size:35px;
	cursor:pointer;
	color:#05a88d;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 100;
	font-style: normal;
}
.menu__signup{
	border: 1;
	border-radius: 5px;
	background-color: #FFFFFF;
	font-size:35px;
	cursor:pointer;
	color:#05a88d;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 100;
	font-style: normal;
	border-width: thin;
	border-bottom-color: #05a88d;
  	border-top-color: #05a88d;
  	border-left-color: #05a88d;
  	border-right-color: #05a88d;
  	width: 200px;
  	height: 50px;

}
.left_butt{
	border: 0;
	background-color: #FFFFFF;
	font-size:35px;
	cursor:pointer;
	color:#000000;
	font-family: "Montserrat Alternates", sans-serif;
	font-weight: 100;
	font-style: normal;
	margin: 0 10px;
	
}
.menu__ul{
	display: flex;
	justify-content: center;
	list-style: none;
	margin:0 20px;
	
}
.left_butt:hover{
	color:#05a88d;
}
.menu{
	padding: 0 50px;
	display: flex;
	height: 100%;
        display: flex; 
        justify-content: space-between;
	
 }
 .menu__ul1{
 	display: flex;
 	list-style: none;
 	justify-content: center;
 	margin:0 50px;

 }
 .menu__li1{
 	margin: 0 40px;
 }
